{{#if updateItemForm}}
  <form>
    <div class='form-group'>
      <label for="itemNameUpdate">Name</label>
      {{input value=itemNameUpdate id='itemNameUpdate' placeholder=item.itemName}}
    </div>
    <div class='form-group'>
      <label for="descriptionUpdate">Description</label>
      {{input value=descriptionUpdate id='descriptionUpdate' placeholder=item.description}}
    </div>
    <div class='form-group'>
      <label for="priceUpdate">$Price$</label>
      {{input value=priceUpdate id='priceUpdate' type='number' placeholder=item.price}}
    </div>
    <button type='submit' {{action 'updateItem' item}}>Save</button>
  </form>
{{else}}
  <button {{action 'updateItemForm'}}>Update Item</button>
{{/if}}
<button {{action 'deleteItem' item}}>Delete</button>
