<h1>{{model.itemName}}</h1>
<h3>Description: {{model.description}}</h3>
<strong>Price: ${{model.price}}</strong>
<button {{action 'addToCart' model}}>Add to Cart</button>

<hr>
{{new-feedback saveFeedbackToFirebase='saveFeedbackToFirebase' item=model}}
{{feedback-display feedbacks=model.feedbacks}}
{{outlet}}
